go 1.24

use (
	./services/email
	./services/subscription
	./services/token
	./services/weather-broadcast
)

replace (
	email-service => ./services/email
	subscription-service => ./services/subscription
	token-service => ./services/token
	weather-broadcast-service => ./services/weather-broadcast
)
